Django==1.7.1
PyJWT==0.3.2
basicauth==0.3
django-zurb-foundation==5.4.7
httplib2==0.9
oauth2==1.5.211
oauthlib==0.7.2
python-oauth2==0.7.0
python-openid==2.2.5
python-social-auth==0.2.1
requests==2.5.0
requests-oauthlib==0.4.2
six==1.8.0
wsgiref==0.1.2