<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"

    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="pl">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>

<body>
    <div class="header">
        <h1><a href="/">PIASKOWNICA</a></h1>

<p>Pokaż gdzie dzieci bawią dorosłych, a dorośli są dziećmi...</p>

    </div>
    <div class="content container">


<!-- extends 'foundation/base.html' -->

{% block contents %}
{% endblock %}

</div>


<div class="footer">


	<div class="copyright">
	<p>&copy;2014&ndash;2015 Smarkacze</p>
	</div>

</div>

</body>
