{% extends "accounts/_base.html" %}

{% block contents %}
    {% if user.is_authenticated %}
        <p>Welcome, {{ user.username }}. Thanks for logging in.</p>
    {% else %}
        {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        <form action="" method="post">
            {% csrf_token %}
            <p>{{ form.as_p }}</p>

            <input type="submit" value="login" />
        </form>

    {% endif %}
{% endblock %}