{% extends "accounts/_base.html" %}

{% block contents %}
    {% if user.is_authenticated %}
        <p>Welcome, {{ user.username }}. Thanks for logging in.</p>
    {% else %}
        {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        <form action="" method="post">
            {% csrf_token %}
            <p>{{ form.as_p }}</p>

            <input type="submit" value="login" />
        </form>

        {% if user and not user.is_anonymous %}
            <a>Hello, {{ user.get_full_name }}!</a>
            <br>
            <a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a>
        {% else %}
            <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Login with Facebook</a>
        {% endif %}

    {% endif %}
{% endblock %}