<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#"><i class="fi-home"></i> Sandbox</a></h1>
    </li>
    <!--Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <!--<li class="toggle-topbar menu-icon">-->
    <!--  <a href="#"><span>Menu</span></a>-->
    <!--</li>-->
  </ul>
  <section class="top-bar-section">
  <!-- Left Nav Section -->
    <ul class="left">
      <li class="has-dropdown"><a href="#">Places</a>
        <ul class="dropdown">
            <li><a href="#">Wyszukiwarka</a></li>
            <li><a href="#">Top 10</a></li>
        </ul>
      </li>
      <li class="has-dropdown"><a href="#">Accounts</a>
        <ul class="dropdown">
            <li><a href="#">Wyszukiwarka</a></li>
            <li><a href="#">Top 10</a></li>
        </ul>
      </li>
      <li class="has-form">
        <div class="row collapse">
          <div class="large-8 small-9 columns">
            <input type="text" placeholder="Find Stuff">
          </div>
          <div class="large-4 small-3 columns">
            <a href="#" class="alert button expand">Search</a>
          </div>
        </div>
      </li>
    </ul>
    <!-- Right Nav Section -->
    <ul class="right">
      <li><a href="#"><i class="fi-widget"></i> Settings </a></li>
      <li><a href="#"><i class="fi-unlock"></i> Log out </a></li>
    </ul>
  </section>
</nav>