<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/foundation/css/foundation.css"/>
        <link rel="stylesheet" href="/static/foundation/css/foundation-icons.css"/>
        <title>Sandbox</title>
        <style type="text/css">
        /* Footer */
        .footer {
            margin-bottom: 0;
            bottom: 0;
            position: fixed;
            width: 100%;
            height: 50px;
            background-color: #333333;
            color: #fff;
        }
        .footer img {
            height: 50px;
        }
        </style>
    </head>
    <body>
        {% include 'common/topbar.html' %}
        <ul class="large-block-grid-2">
            <li><h2>Piaskownica 1 - Osiedle Grunwald</h2>
                <div class="row">
                    <div class="large-6 columns"><img src="/media/images/1.jpg" alt="Piaskownica Grunwald"/></div>
                    <div class="large-6 columns">Pellentesque sagittis, urna in molestie euismod, lorem metus consequat magna, ut mattis mi velit non dui. Ut laoreet odio sit amet risus feugiat auctor nec in mauris. Pellentesque vel faucibus elit. Integer et egestas nibh, eget pretium risus. Donec dictum quam ut vulputate sagittis. Etiam enim lacus, convallis at sem eu, porttitor eleifend ex. Nullam euismod mauris tempor mattis vulputate. Pellentesque in mattis neque. Vivamus sit amet consequat augue, placerat lobortis ex.</div>
                 </div>
            </li>
            <li><h2>Piaskownica 2 - Osiedle Naramowice</h2>
                <div class="row">
                    <div class="large-6 columns"><img src="/media/images/2.jpg" alt="Piaskownica Naramowice"/></div>
                    <div class="large-6 columns">Pellentesque sagittis, urna in molestie euismod, lorem metus consequat magna, ut mattis mi velit non dui. Ut laoreet odio sit amet risus feugiat auctor nec in mauris. Pellentesque vel faucibus elit. Integer et egestas nibh, eget pretium risus. Donec dictum quam ut vulputate sagittis. Etiam enim lacus, convallis at sem eu, porttitor eleifend ex. Nullam euismod mauris tempor mattis vulputate. Pellentesque in mattis neque. Vivamus sit amet consequat augue, placerat lobortis ex.</div>
                 </div>
            </li>
            <li><h2>Piaskownica 3 - Osiedle Łazarz</h2>
                <div class="row">
                    <div class="large-6 columns"><img src="/media/images/3.jpg" alt="Piaskownica Łazarz"/></div>
                    <div class="large-6 columns">Pellentesque sagittis, urna in molestie euismod, lorem metus consequat magna, ut mattis mi velit non dui. Ut laoreet odio sit amet risus feugiat auctor nec in mauris. Pellentesque vel faucibus elit. Integer et egestas nibh, eget pretium risus. Donec dictum quam ut vulputate sagittis. Etiam enim lacus, convallis at sem eu, porttitor eleifend ex. Nullam euismod mauris tempor mattis vulputate. Pellentesque in mattis neque. Vivamus sit amet consequat augue, placerat lobortis ex.</div>
                 </div>
            </li>
            <li><h2>Piaskownica 4 - Osiedle Rataje</h2>
                <div class="row">
                    <div class="large-6 columns"><img src="/media/images/1.jpg" alt="Piaskownica Rataje"/></div>
                    <div class="large-6 columns">Pellentesque sagittis, urna in molestie euismod, lorem metus consequat magna, ut mattis mi velit non dui. Ut laoreet odio sit amet risus feugiat auctor nec in mauris. Pellentesque vel faucibus elit. Integer et egestas nibh, eget pretium risus. Donec dictum quam ut vulputate sagittis. Etiam enim lacus, convallis at sem eu, porttitor eleifend ex. Nullam euismod mauris tempor mattis vulputate. Pellentesque in mattis neque. Vivamus sit amet consequat augue, placerat lobortis ex.</div>
                 </div>
            </li>
        </ul>
        {% include 'common/footer.html' %}
    </body>
</html>
